{# src/Blogger/BlogBundle/Resources/views/Blog/show.html.twig #}
{% extends "BloggerBlogBundle::layout.html.twig" %}

{% block title %}Post details{% endblock %}

{% block sidebar %}

	<div class="ingredientes">
	<p>Esta es la lista de ingredientes de esta receta:</p>
    <p>----------------</p>

	{% include 'BloggerBlogBundle:Ingrediente:list.html.twig' with { 'ingredientes': ingredientes } %}
	
	</div>

{% endblock %}

{% block body %}
	<h1>{{ post.nombre }}</h1>
	<div class="descripcion">
		{{ post.descripcion|nl2br }}
	</div>	

	<section class="comments" id="comments">
	<section class="previous-comments">
		<h3>Comentarios</h3>
		{% include 'BloggerBlogBundle:Comment:list.html.twig' with { 'comments': comments } %}
	</section>
	<h3>Añadir comentario</h3>
		{{ render(controller( 'BloggerBlogBundle:Comment:new', { 'post_id': post.id } )) }}
	</section>	
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

